.newGame {
    height: 70vh;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
  
}

.opponentImg {
    border-radius: 50%;
    height: 200px;
    width: auto;
    transition: filter 0.3s ease; 
}

.opponentImg:hover {
    transform: none;
    cursor:alias;
}

.opponentImg.redEffect {
    filter: hue-rotate(0deg) saturate(100%) brightness(1) contrast(1) sepia(1) hue-rotate(-50deg);
}

.resultsContainer {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 15px;
}

.fightResults {
    width: 30vw;
}

.endGameContainer {
    margin: 10px;
}

.chooseContainer {
    width: 70vw;
    margin: 10px;
    letter-spacing: 3px;
}