header {
    height: 20vh;
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} 

 .orange {
    color: rgb(238, 125, 45);
  }
  
  .gray {
    color: rgb(90, 122, 144);
  }